
.vs/Trabalho-Pratico-AED/FileContentIndex/78db3b6f-b763-4f8b-b75f-d7494a5418ec.vsidx
.vs/Trabalho-Pratico-AED/FileContentIndex/9c23fadc-afb6-4b0f-b694-d310fdda03c5.vsidx
.vs/Trabalho-Pratico-AED/v17/.futdcache.v2
.vs/slnx.sqlite
.vs/Trabalho-Pratico-AED/DesignTimeBuild/.dtbcache.v2
.vs/Trabalho-Pratico-AED/FileContentIndex/2d7149c6-0960-46be-8915-9cc51426c8b8.vsidx
.vs/Trabalho-Pratico-AED/FileContentIndex/2e409a89-a22d-4d76-9917-57e079d0c6b1.vsidx
.vs/Trabalho-Pratico-AED/FileContentIndex/4b17c69c-f4e4-464c-9f7f-6de92803cf56.vsidx
.vs/Trabalho-Pratico-AED/v17/.wsuo
.vs/Trabalho-Pratico-AED/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/Trabalho-Pratico-AED/FileContentIndex/a4654d38-98dd-491e-bc26-78ded5c0644b.vsidx
